
.container{
	margin: inherit;
    width: inherit;
}
body{
  margin: 0;
	padding: 0;
    height: auto;
    background-color: whitesmoke;
    }
.first-text{
    background: transparent;
    background-size: 100% 100%;
	font-weight: bold;
    text-align: center;
    font-size-adjust: auto;
    font-size: 60px;
    color: white;
    text-emphasis:bold;
}
.first{
    background-image: url("file:///home/user/Documents/moringa-school-projects/Delani-studio/pics/h_img.jpg");
    background-repeat: no-repeat; 
}
.logo{
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: 100px;
}
.second{
    background-color: whitesmoke;
    height: 300px;
    text-align: center;
    margin-left: 15%;
}
.second text{
    color: black;
    background: transparent;
    font-size-adjust: auto; 
    text-align: center; 
    margin-right: 150px;
    margin-left: 80px;
}
.third{
    height: 300px;
	background: url("file:///home/user/Documents/moringa-school-projects/Delani-studio/pics/s_image.jpg");
	background-repeat: no-repeat;
}
.third-text{
    text-align: center;
    background: transparent;
    color: white;
}
.fourth-text{
    text-align: center;
    color: white;
    font-weight: 200;
}
.fourth{
    background: whitesmoke;
    height:auto;
}
.row{
    display: flex;
}
.sixth{
    background-image: url("file:///home/user/Documents/moringa-school-projects/Delani-studio/pics/c_image.jpg");
    background-repeat: no-repeat;
}
