 #top{
    padding: 300px 50px 50px 100px;
} 
#sec{
    margin: 5px;
}

/* .container{
	margin: inherit;
    width: inherit;
} */
/* body{
  margin: 0;
	padding: 0;
    height: auto;
    background-color: whitesmoke;
} */
    /* 
.first-text{
    background: transparent;
    background-size: 100% 100%;
	font-weight: bold;
    text-align: center;
    font-size-adjust: auto;
    font-size: 60px;
    color: white;
    text-emphasis:bold;
    text-align: center;
}
.first{
    background-image: url("file:///home/user/Documents/moringa-school-projects/Delani-studio/pics/h_img.jpg");
    background-repeat: no-repeat; 
}
.logo{
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: 100px;
} */
.second{
    /* background-color: whitesmoke; */
    /* height: 300px; */
    text-align: center;
    /* margin-left: 15%; */
}
input[type=submit] {
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
/* .second text{
    color: black;
    background: transparent;
    font-size-adjust: auto; 
    text-align: center; 
    margin-right: 150px;
    margin-left: 80px;
} */
.third{
    height: 300px;
	background: url("../pics/s_image.jpg");
	background-repeat: no-repeat;
}
.third-text{
    text-align: center;
    background: transparent;
    color: white;
    margin-left: 100px;
}
.fourth-text{
    text-align: center;
    /* color: white; */
    /* font-weight: 200; */
    margin-top: 20px;
}
.fourth{
    /* background: whitesmoke; */
    height:auto;
    text-align: center;
}
.fifth{
    text-align: center;
    /* margin-right: 200px;
    margin-left: 150px; */
}
/* .work{
    text-align: center;
}
.work1{
    text-align: center;
} */
.sixth{
    background-image: url("../pics/c_image.jpg");
    background-repeat: no-repeat;
    padding: 50px;
    text-align: center;
}
.seventh{
    text-align: center;
    margin-top: 50px;
}


#DESIGN{
    text-align: center;
}
#design-text{
    display: none;
}
/* #dev{
    display: none;
} */
.management{
    display: none;
}
button{
   color: white;
}
.website{
    /* color:black; */
    border: 5px solid white;
    font-weight: 900;
 }
.p1{
     margin-top: -100px;
     background-color: white;
 }
 .p2{
    margin-top: -100px;
}
.p3{
    margin-top: -100px;
} 
.p4{
    margin-top: -100px;
}
.p5{
    margin-top: -100px;
}
.p6{
    margin-top: -100px;
}
.p7{
    margin-top: -100px;
}
.p8{
    margin-top: -100px;
}
#name{
    width: 400px;
    background: transparent;
}
#Email{
    width: 400px;
    background: transparent;
}
#message{
    width: 400px;
    height: 200px;
    background: transparent;
    /* padding-bottom: 200px; */
    
}
::placeholder{
    color: white;
}
h2{
    color: white;
    padding-top: 40px;
    padding-bottom: 30px;
}
#submit{
    color: white;
    background-color: black;
}